
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="./map.css" />
    <script 
src="./map.js">
</script>
  </head>
  <body>
    <form action="./logout" method="POST">
        <input type="submit" value="logout" />
    </form>
    <div id="map"></div>


<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMJrAHTOouXJvc2iWQSUEmvQbm-1cJ0eI&libraries=places&callback=initMap">
</script>
  </body>
</html>